

// body {
//    display: flex;
//    align-items: center;
//    justify-content: center;
// }

// Here is where the magic happens
.preloader{
  width: 50%;
  margin: 0 auto; 
  margin-top: 2rem; 
}
